.bjork-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  height: 35%;
}
.bjork-info {
  background-color: var(--yellow);
  clip-path: polygon(5% 6%, 95% 0, 99% 100%, 0% 100%);
  padding: 4rem;
  width: 95%;
  border-radius: 10px;
}
.card {
  position: relative;
  width: 25%;
}
.pink {
  background-color: var(--pink);
  width: 58%;
  height: 80%;
  position: absolute;
  top: 12%;
  right: 22%;
  border-radius: 10px;
  padding: 4rem 1rem;
}
.pink p {
  padding-top: 0.5rem;
  font-size: 16px;
}
.card:last-of-type .pink {
  right: 18%;
}
.card:last-of-type img {
  right: 20%;
}
svg {
  width: 100%;
  height: 100%;
}
.about-us-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
  padding: 2rem 6rem 2rem 6rem;
}
img {
  border-radius: 50%;
  position: absolute;
  right: 25%;
  top: 3%;
}
