.bjork-wrapper {
  display: flex;
  justify-content: center;
  /* padding-top: 1rem; */
  height: 35%;
}
.bjork-info {
  background-color: var(--yellow);
  clip-path: polygon(5% 6%, 95% 0, 99% 100%, 0% 100%);
  padding: 2rem 4rem 4rem 4rem;
  width: 95%;
  border-radius: 10px;
}
.card {
  position: relative;
  width: 25%;
}
.pink {
  background-color: var(--pink);
  width: 58%;
  height: 80%;
  position: absolute;
  top: 12%;
  right: 22%;
  border-radius: 10px;
  padding: 4rem 1rem;
}
.pink p {
  padding-top: 0.5rem;
  font-size: 16px;
}
.card:last-of-type .pink {
  right: 18%;
}
.card:last-of-type img {
  right: 20%;
}
svg {
  width: 100%;
  height: 100%;
}
.about-us-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65%;
  padding: 1rem 6rem 2rem 6rem;
}
.card img {
  border-radius: 50%;
  position: absolute;
  right: 25%;
  top: 3%;
}

@media screen and (max-width: 1050px) {
  svg {
    display: none;
  }
  .about-us-section {
    width: 100%;
    padding: 3rem 1rem 0.5rem 1rem;
    justify-content: space-between;
  }
  .pink {
    width: 90%;
    height: 80%;
    position: initial;
    top: 12%;
    right: 22%;
    border-radius: 10px;
    padding: 5.5rem 1rem;
  }
  .pink p {
  }
  .card img {
    right: 15%;
    top: -10%;
  }
}
