.arrow-button {
  clip-path: polygon(0 35%, 60% 27%, 60% 5%, 100% 50%, 60% 96%, 60% 73%, 0 69%);
  display: flex;
  justify-content: center;
  background-color: var(--arrow);
  width: 20rem;
  padding: 1.5rem;
  transform: rotate(-15deg);
  position: absolute;
  right: 3rem;
  top: 35rem;
  transition: ease-in 0.2s;
}
.arrow-button:hover {
  background-color: var(--red);
  transition: ease-in 0.2s;
  padding-right: 2rem;
}
.start-button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  padding: 3rem 0;
  font-size: 32px;
  font-family: "Jua";
}

@media screen and (max-width: 1050px) {
  .arrow-button {
    display: none;
  }
}
