.arrow-button {
  clip-path: polygon(
    0 32%,
    60% 24%,
    60% 0%,
    100% 48%,
    60% 100%,
    60% 74%,
    0 67%
  );
  display: flex;
  justify-content: center;
  background-color: var(--arrow);
  width: 20rem;
  padding: 1.5rem;
  transform: rotate(-25deg);
  position: absolute;
  right: 4.5rem;
  top: 34rem;
  transition: ease-in 0.2s;
}
.arrow-button:hover {
  background-color: var(--red);
  transition: ease-in 0.2s;
  padding-right: 2rem;
}
.start-button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  padding: 3rem 0;
  font-size: 26px;
}
