.game {
  background-color: var(--background);
  display: none;
  height: auto;
}
.game svg {
  width: 70px;
  padding: 1rem;
}
.game-frame {
  height: 90vh;
  display: flex;
  justify-content: center;
}
.stop-wrapper {
  display: flex;

  justify-content: flex-end;
}
.stop-game {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 2rem;
  font-family: "Jua";
}
.game-splain {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83%;
}
