@font-face {
  font-family: "Playfair text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/playfair-display-v30-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Heading";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/playfair-display-v30-latin-500.woff2") format("woff2"),
    url("../fonts/playfair-display-v30-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jua-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/jua-v13-latin-regular.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair text";
}

:root {
  --background: #e1caa4;
  --blue: #acf0ec;
  --yellow: #f8ac49;
  --pink: #ffb8b2;
  --arrow: #000000;
  --red: #de3831;
}

section {
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 36px;
  font-family: "Playfair Heading";
}
p {
  font-size: 16px;
  font-weight: 100;
}
