.box-wrapper {
  display: flex;
  justify-content: flex-end;
}
.box-one {
  clip-path: polygon(0 0, 86% 10%, 100% 95%, 0% 100%);
  background-color: var(--blue);
  width: 80%;
  padding: 1rem 0rem 2rem 2rem;
  position: relative;
}
.box-two {
  clip-path: polygon(48% 5%, 100% 0, 100% 100%, 9% 100%, 0 25%);
  background-color: var(--yellow);
  width: 80%;
  padding: 1rem 1rem 2rem 4rem;
  margin-right: 0;
  position: absolute;
  top: 21rem;
}
.box-two h3 {
  text-align: right;
}
.box-three {
  clip-path: polygon(42% 1%, 89% 6%, 100% 99%, 0 100%, 0 4%);
  background-color: var(--pink);
  width: 90%;
  padding: 2rem;
  margin-top: 15rem;
  position: relative;
}
.mobile {
  display: none;
}
.start {
  padding-bottom: 2rem;
  /* height: 100vh; */
}

@media screen and (max-width: 1345px) {
  .box-one,
  .box-two,
  .box-three {
    clip-path: unset;
    width: 90%;
    border-radius: 10px;
  }
  .box-wrapper {
    justify-content: center;
  }
  .box-two {
    position: initial;
    padding-left: 2rem;
  }
  .box-three {
    position: initial;
    margin-top: 0;
    display: none;
  }
  .mobile {
    display: block;
  }
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 24px;
  }
  .start {
    align-items: center;
    justify-content: space-evenly;
  }
}
